<div class="app-layout">
  <div class="panel-drawer" [ngClass]="{opened: showDrawer}">
    <!-- Afficher la liste des notifications -->
    <nz-list nzItemLayout="horizontal">
      <nz-list-item *ngFor="let notif of notificationList">
        <nz-list-item-meta
          *ngIf="notif.subject === 'new_user'"
          [ngStyle]="{'background-color': notif.viewedAt != undefined ? 'none' : '#75b658'}"
          [nzAvatar]="notif.payload.user.photoUrl"
          [nzDescription]="notif.payload.user.username+' has arrived !'"
        >
          <nz-list-item-meta-title>
            <a href="https://ng.ant.design"></a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        <nz-list-item-meta
          *ngIf="notif.subject === 'room_added'"
          [ngStyle]="{'background-color': notif.viewedAt != undefined ? 'none' : '#75b658'}"
          [nzAvatar]="notif.payload.user.photoUrl"
          [nzDescription]="notif.payload.user.username+' has created a new room : '+notif.payload.room.name"
        >
          <nz-list-item-meta-title>
            <a href="https://ng.ant.design"></a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        <nz-list-item-meta
          *ngIf="notif.subject === 'post_liked'"
          [ngStyle]="{'background-color': notif.viewedAt != undefined ? 'none' : '#75b658'}"
          [nzAvatar]="notif.payload.user.photoUrl"
          [nzDescription]="notif.payload.user.username+' liked your post : '+ notif.payload.preview"
        >
          <nz-list-item-meta-title>
            <a href="https://ng.ant.design"></a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
      </nz-list-item>
    </nz-list>
  </div>
  <div class="app-layout-panel-left">
    <div class="panel-head">
      <app-user-widget (toggleNotifications)="onToggleNotifications()"></app-user-widget>
    </div>
    <div class="panel-body">
      <app-room-menu></app-room-menu>
    </div>

  </div>
  <div class="app-layout-panel-main">
    <router-outlet></router-outlet>
  </div>
</div>
